/* Header CSS */
.header {
    background: radial-gradient(circle, hsla(31, 58%, 84%, 0.8), rgba(216, 176, 140, 0.8)); 
    padding: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    width: 98.9%;
  }
  
  /* Navigation bar */
  .nav {
    width: 29%; /* Adjust the width as needed */
  }
  
  /* Reset list styles for better navigation layout */
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* Display list items horizontally */
  .nav ul li {
    display: inline;
    margin-left: 10px;
  }
  
  /* Styling anchor links inside list items */
  .nav ul li a {
    color: white;
    text-decoration: none;
  }
  