.footer {
  background-color: #916464;
  color: white;
  padding:0.3rem;
  display: flex;
  justify-content: space-between;
  /* max-height: 500px; */
  overflow-y: auto;
}

.column {
  flex-basis: calc(50% - 1rem); /* Each column takes 50% of the space */
}

.column ul {
  list-style: none;
}



.column ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.column ul li a:hover {
  color: #cccccc;
}

.information {
  flex-basis: calc(50% - 1rem); /* Information section takes 50% of the space */
}

